@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: #606060;
    color: white;
}

input {
    width: 15rem;
    height: 2rem;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    transition: all .3s ease;
}

input:hover {
    color: #fff;
    background-color: green;
}

button {
    width: 100px;
    height: 25px;
    border-radius: 10px;
    background-color: blue;
    color: white;
    cursor: pointer;
    transition: all .3s ease;
    font-weight: 700;
}

button:hover {
    color: blue;
    background-color: white;
}